*{
    letter-spacing: 1.5px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: none;
    list-style: none;   
    box-sizing: border-box;
}
.contenedor{
    position: relative;
    background-color:rgb(104, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#exitsBox{
    padding-top:20px;
    padding-left: 10px;
    height: 200px;
    width: 400px;
    background-color: rgb(250, 233, 211);
    border-radius: .8rem;
    box-shadow: 8px 8px 20px black; 
}
.boxNote{
    width: 300px;
    height: 110px;
    position: absolute;
    z-index: 1;
    margin-top: 1.5%;
    margin-left: 1.5%;
    padding: 10px;
    border-radius: .8rem;
    background-color:bisque   ;
    box-shadow: 0px 0px 1px 2px  red; 
}