*{
    letter-spacing: 1.5px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    text-align: none;
    list-style: none;
    box-sizing: border-box;
}

img{
    border-radius: .8rem;
    box-shadow: 0px 0px 25px  rgb(122, 121, 121) ;
    margin: 10px;
    margin-top: 20px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
